<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HackBCAIII.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B39A47111CB0D39900A82570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39A47251CB0D39A00A82570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39A47301CB0D39A00A82570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
